{% extends 'site_base.html' %}
{% block title %}Charge point details{% endblock %}

{% block content %}
<br />
<p>Charge point name: {{ name}}</p>
{% if evs %}
	<ul><p>Vehicle Type: {{ evs.vehicleType }}</p>
		<p>Status: {{ evs.statusText }}</p>
	</ul>
    
{% endif %}
<p>
	{{ message }}
</p>

{% endblock %}





