{% extends 'site_base.html' %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/ui-lightness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>	
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script>
		$(function() {
			$( "#radio" ).buttonset();
		});
	</script>
{% block title %}Charge Locations {% endblock %}

{% block content %}
<p>EV Charge Locations within 10km of the centre of Bristol. </p>
    <div id="map" style="width: 900px; height: 600px">
		<div id="radio" style="position:relative; z-index:7; padding: 0px 5px; float:right" >
			<input type="radio" id="radio1" name="radio"><label for="radio1">showChargePoints</label>
			
		</div>
    
    </div>

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"> </script>
    <script src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
	
    <script>
        var chargePoints = {{stopd|safe}}
        var map = L.map('map').setView([51.4497109,-2.5800031], 15);
        mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '&copy; ' + mapLink + ' Contributors', maxZoom: 18, }).addTo(map);
		cp_cir =  [];
	
        function addCP() {
                        radius = 10
			
			for (i = 0; i < chargePoints.length; i++) {
				if (chargePoints[i][2] > 0) {
					ccolor = "blue";
					fopa = 0.6;
					cp_cir.push(L.circle([chargePoints[i][0],chargePoints[i][1]], radius,{ color: ccolor, stroke:false, fillColor: ccolor, fillOpacity: fopa}).addTo(map));
				}
			}

			for (i = 0; i < chargePoints.length; i++) {
				if (chargePoints[i][2] = 0) {
					ccolor = "red";
					fopa = 0.6
					cp_cir.push(L.circle([chargePoints[i][0],chargePoints[i][1]], radius,{ color: ccolor, stroke:false, fillColor: ccolor, fillOpacity: fopa}).addTo(map));
				}
			}
		}

		function deleteCP() {
			if ( cp_cir.length == 0) {
				return 
			}
			for (i = 0; i < cp_cir.length; i++) {
				map.removeLayer(cp_cir[i]);
			}
		}

		$('#radio1').click(function() {
			if ($(this).is(':checked')) {
				deleteCP();
				addCP();
			}
		})

</script>



{% endblock %}
